In [1]:
import pandas as pd

Load each table

In [5]:
ratings_1 = pd.read_csv('../ml-20m/ratings.csv')
print(ratings_1.head(20))
print(ratings_1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 610.4 MB
None

I notice the types are not being imported correctly. the ids should be strings, as they are not numbers. The timestamp could be converted to a Panda datetime object. This can all be achieved using the read_csv arguments. I  am also setting the chunk size to 500,000 so my computer RAM won't get full

In [24]:
chunksize=500000
ratings_2 = pd.DataFrame()  # initialize an empty dataframe
for index, chunk in enumerate(pd.read_csv('../ml-20m/ratings.csv',
                         dtype={'userId': int, 'movieId': int, "rating": float, 'timestamp': int},
                         chunksize=chunksize,
                         parse_dates=['timestamp'],
                         date_parser=pd.to_datetime
                         )):
    # Perform operations on the chunk
    # processed_chunk = chunk[chunk['column_name'] > 0]  # Example operation
    ratings_2 = pd.concat([ratings_2, chunk])
    print(f"Chunk {index} loaded")

print(ratings_2.info())

/var/folders/55/xtgthnr12lz2b2j6l0pqj7zm0459s6/T/ipykernel_36933/1872555690.py:3: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  for index, chunk in enumerate(pd.read_csv('../ml-20m/ratings.csv',

Chunk 0 loaded
Chunk 1 loaded
Chunk 2 loaded
Chunk 3 loaded
Chunk 4 loaded
Chunk 5 loaded
Chunk 6 loaded
Chunk 7 loaded
Chunk 8 loaded
Chunk 9 loaded
Chunk 10 loaded
Chunk 11 loaded
Chunk 12 loaded
Chunk 13 loaded
Chunk 14 loaded
Chunk 15 loaded
Chunk 16 loaded
Chunk 17 loaded
Chunk 18 loaded
Chunk 19 loaded
Chunk 20 loaded
Chunk 21 loaded
Chunk 22 loaded
Chunk 23 loaded
Chunk 24 loaded
Chunk 25 loaded
Chunk 26 loaded
Chunk 27 loaded
Chunk 28 loaded
Chunk 29 loaded
Chunk 30 loaded
Chunk 31 loaded
Chunk 32 loaded
Chunk 33 loaded
Chunk 34 loaded
Chunk 35 loaded
Chunk 36 loaded
Chunk 37 loaded
Chunk 38 loaded
Chunk 39 loaded
Chunk 40 loaded
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 610.4 MB
None

Now I have my import function down, I want to continue in a DRY coding style. I will create an array of dataframe and import each table into the dataframe using a function

In [50]:
# import function
def import_dataset(ds, df, dtype={}, parse_dates=[], chunksize=chunksize):
    
    for index, chunk in enumerate(pd.read_csv(f'../ml-20m/{ds}.csv',
                         dtype=dtype,
                         chunksize=chunksize,
                         parse_dates=parse_dates,
                         date_parser=pd.to_datetime
                         )):
        # Perform operations on the chunk
        df = pd.concat([df, chunk])
        print(f"{ds} chunk {index} loaded")
    print(ds)
    print(df.info())
    print(df.head(5))
        

ratings = pd.DataFrame()
movies = pd.DataFrame()
tags = pd.DataFrame()
links = pd.DataFrame()

df_array = [
    {
        "ratings":ratings, 
        "dtype": {'userId': int, 'movieId': int, "rating": float, 'timestamp': int},
        "parse_dates":['timestamp']
    },
    {
        "movies":movies, 
        # "dtype": {'userId': int, 'movieId': int, "rating": float, 'timestamp': int},
        # "parse_dates":['timestamp']
    },
    {
        "tags":tags,
    },
    {
        "links":links,
    }
        
]

for item in df_array:
    ds_name = [*item.keys()][0]
    ds_df = [*item.values()][0]
    # ds_dt = [*item.values()][2]
    # ds_pd = [*item.values()][3]
    import_dataset(ds_name, ds_df)
    # for index, ds, df in enumerate(item.items()):
    #     if index == 0:
            
    
# for item in df_array:
#     for ds, df in item.items():
#         print(ds.head(20))
    # print(ds)

/var/folders/55/xtgthnr12lz2b2j6l0pqj7zm0459s6/T/ipykernel_36933/812137793.py:4: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  for index, chunk in enumerate(pd.read_csv(f'../ml-20m/{ds}.csv',

ratings chunk 0 loaded
ratings chunk 1 loaded
ratings chunk 2 loaded
ratings chunk 3 loaded
ratings chunk 4 loaded
ratings chunk 5 loaded
ratings chunk 6 loaded
ratings chunk 7 loaded
ratings chunk 8 loaded
ratings chunk 9 loaded
ratings chunk 10 loaded
ratings chunk 11 loaded
ratings chunk 12 loaded
ratings chunk 13 loaded
ratings chunk 14 loaded
ratings chunk 15 loaded
ratings chunk 16 loaded
ratings chunk 17 loaded
ratings chunk 18 loaded
ratings chunk 19 loaded
ratings chunk 20 loaded
ratings chunk 21 loaded
ratings chunk 22 loaded
ratings chunk 23 loaded
ratings chunk 24 loaded
ratings chunk 25 loaded
ratings chunk 26 loaded
ratings chunk 27 loaded
ratings chunk 28 loaded
ratings chunk 29 loaded
ratings chunk 30 loaded
ratings chunk 31 loaded
ratings chunk 32 loaded
ratings chunk 33 loaded
ratings chunk 34 loaded
ratings chunk 35 loaded
ratings chunk 36 loaded
ratings chunk 37 loaded
ratings chunk 38 loaded
ratings chunk 39 loaded
ratings chunk 40 loaded
ratings
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 610.4 MB
None
   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580
movies chunk 0 loaded
movies
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB
None
   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres
0  Adventure|Animation|Children|Comedy|Fantasy
1                   Adventure|Children|Fantasy
2                               Comedy|Romance
3                         Comedy|Drama|Romance
4                                       Comedy
tags chunk 0 loaded
tags
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465564 entries, 0 to 465563
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     465564 non-null  int64
 1   movieId    465564 non-null  int64
 2   tag        465548 non-null  object
 3   timestamp  465564 non-null  int64
dtypes: int64(3), object(1)
memory usage: 14.2+ MB
None
   userId  movieId            tag   timestamp
0      18     4141    Mark Waters  1240597180
1      65      208      dark hero  1368150078
2      65      353      dark hero  1368150079
3      65      521  noir thriller  1368149983
4      65      592      dark hero  1368150078
links chunk 0 loaded
links
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   imdbId   27278 non-null  int64
 2   tmdbId   27026 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 639.5 KB
None
   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

/var/folders/55/xtgthnr12lz2b2j6l0pqj7zm0459s6/T/ipykernel_36933/812137793.py:4: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  for index, chunk in enumerate(pd.read_csv(f'../ml-20m/{ds}.csv',
/var/folders/55/xtgthnr12lz2b2j6l0pqj7zm0459s6/T/ipykernel_36933/812137793.py:4: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  for index, chunk in enumerate(pd.read_csv(f'../ml-20m/{ds}.csv',
/var/folders/55/xtgthnr12lz2b2j6l0pqj7zm0459s6/T/ipykernel_36933/812137793.py:4: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  for index, chunk in enumerate(pd.read_csv(f'../ml-20m/{ds}.csv',