In [1]:
# conda activate movie-recommender          # activate environment in terminal         
# jupyter notebook                     # start server + kernel inside my-conda-env

In [6]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
chunksize=100000
import seaborn as sns
import matplotlib.pyplot as plt

Load each table

In [2]:
ratings_1 = pd.read_csv('../ml-20m/ratings.csv')
print(ratings_1.head(10))
print(ratings_1.info())

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580
5       1      112     3.5  1094785740
6       1      151     4.0  1094785734
7       1      223     4.0  1112485573
8       1      253     4.0  1112484940
9       1      260     4.0  1112484826
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 610.4 MB
None

I notice the types are not being imported correctly. the ids should be strings, as they are not numbers. The timestamp could be converted to a Panda datetime object. This can all be achieved using the read_csv arguments. I  am also setting the chunk size to 500,000 so my computer RAM won't get full

In [19]:
samples = ratings_1.sample(frac=0.1, random_state=7)

print(samples.info())
print(samples.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 2000026 entries, 4913857 to 16845772
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 76.3 MB
None
             userId       movieId        rating     timestamp
count  2.000026e+06  2.000026e+06  2.000026e+06  2.000026e+06
mean   6.904959e+04  9.034708e+03  3.527050e+00  1.101028e+09
std    4.003792e+04  1.975883e+04  1.051778e+00  1.621847e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    3.438100e+04  9.030000e+02  3.000000e+00  9.669110e+08
50%    6.918000e+04  2.171000e+03  4.000000e+00  1.103701e+09
75%    1.036410e+05  4.776000e+03  4.000000e+00  1.225726e+09
max    1.384930e+05  1.311760e+05  5.000000e+00  1.427782e+09

In [22]:
samples.to_csv('./samples/sample_ratings.csv')

I noticed the timestamp is not being imported correctly. It should be a full date, but instead it was imported as milliseconds

In [13]:
# Custom date parser function
date_parser = lambda x: pd.to_datetime(x, unit='s')

# ratings
ratings = pd.DataFrame()  # initialize an empty dataframe
for index, chunk in enumerate(pd.read_csv('./samples/sample_ratings.csv',
                         dtype={'userId': str, 'movieId': str, "rating": float, 'timestamp': int},
                         chunksize=chunksize,
                         parse_dates=['timestamp'],
                         date_parser=date_parser
                         )):
    # Perform operations on the chunk
    # processed_chunk = chunk[chunk['column_name'] > 0]  # Example operation
    ratings = pd.concat([ratings, chunk])
    print(f"Chunk {index} loaded")
print("Ratings dataset loaded", )

/var/folders/55/xtgthnr12lz2b2j6l0pqj7zm0459s6/T/ipykernel_12532/3003964684.py:6: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  for index, chunk in enumerate(pd.read_csv('../ml-20m/ratings.csv',

Chunk 0 loaded
Chunk 1 loaded
Chunk 2 loaded
Chunk 3 loaded
Chunk 4 loaded
Chunk 5 loaded
Chunk 6 loaded
Chunk 7 loaded
Chunk 8 loaded
Chunk 9 loaded
Chunk 10 loaded
Chunk 11 loaded
Chunk 12 loaded
Chunk 13 loaded
Chunk 14 loaded
Chunk 15 loaded
Chunk 16 loaded
Chunk 17 loaded
Chunk 18 loaded
Chunk 19 loaded
Chunk 20 loaded
Chunk 21 loaded
Chunk 22 loaded
Chunk 23 loaded
Chunk 24 loaded
Chunk 25 loaded
Chunk 26 loaded
Chunk 27 loaded
Chunk 28 loaded
Chunk 29 loaded
Chunk 30 loaded
Chunk 31 loaded
Chunk 32 loaded
Chunk 33 loaded
Chunk 34 loaded
Chunk 35 loaded
Chunk 36 loaded
Chunk 37 loaded
Chunk 38 loaded
Chunk 39 loaded
Chunk 40 loaded
Chunk 41 loaded
Chunk 42 loaded
Chunk 43 loaded
Chunk 44 loaded
Chunk 45 loaded
Chunk 46 loaded
Chunk 47 loaded
Chunk 48 loaded
Chunk 49 loaded
Chunk 50 loaded
Chunk 51 loaded
Chunk 52 loaded
Chunk 53 loaded
Chunk 54 loaded
Chunk 55 loaded
Chunk 56 loaded
Chunk 57 loaded
Chunk 58 loaded
Chunk 59 loaded
Chunk 60 loaded
Chunk 61 loaded
Chunk 62 loaded
Chunk 63 loaded
Chunk 64 loaded
Chunk 65 loaded
Chunk 66 loaded
Chunk 67 loaded
Chunk 68 loaded
Chunk 69 loaded
Chunk 70 loaded
Chunk 71 loaded
Chunk 72 loaded
Chunk 73 loaded
Chunk 74 loaded
Chunk 75 loaded
Chunk 76 loaded
Chunk 77 loaded
Chunk 78 loaded
Chunk 79 loaded
Chunk 80 loaded
Chunk 81 loaded
Chunk 82 loaded
Chunk 83 loaded
Chunk 84 loaded
Chunk 85 loaded
Chunk 86 loaded
Chunk 87 loaded
Chunk 88 loaded
Chunk 89 loaded
Chunk 90 loaded
Chunk 91 loaded
Chunk 92 loaded
Chunk 93 loaded
Chunk 94 loaded
Chunk 95 loaded
Chunk 96 loaded
Chunk 97 loaded
Chunk 98 loaded
Chunk 99 loaded
Chunk 100 loaded
Chunk 101 loaded
Chunk 102 loaded
Chunk 103 loaded
Chunk 104 loaded
Chunk 105 loaded
Chunk 106 loaded
Chunk 107 loaded
Chunk 108 loaded
Chunk 109 loaded
Chunk 110 loaded
Chunk 111 loaded
Chunk 112 loaded
Chunk 113 loaded
Chunk 114 loaded
Chunk 115 loaded
Chunk 116 loaded
Chunk 117 loaded
Chunk 118 loaded
Chunk 119 loaded
Chunk 120 loaded
Chunk 121 loaded
Chunk 122 loaded
Chunk 123 loaded
Chunk 124 loaded
Chunk 125 loaded
Chunk 126 loaded
Chunk 127 loaded
Chunk 128 loaded
Chunk 129 loaded
Chunk 130 loaded
Chunk 131 loaded
Chunk 132 loaded
Chunk 133 loaded
Chunk 134 loaded
Chunk 135 loaded
Chunk 136 loaded
Chunk 137 loaded
Chunk 138 loaded
Chunk 139 loaded
Chunk 140 loaded
Chunk 141 loaded
Chunk 142 loaded
Chunk 143 loaded
Chunk 144 loaded
Chunk 145 loaded
Chunk 146 loaded
Chunk 147 loaded
Chunk 148 loaded
Chunk 149 loaded
Chunk 150 loaded
Chunk 151 loaded
Chunk 152 loaded
Chunk 153 loaded
Chunk 154 loaded
Chunk 155 loaded
Chunk 156 loaded
Chunk 157 loaded
Chunk 158 loaded
Chunk 159 loaded
Chunk 160 loaded
Chunk 161 loaded
Chunk 162 loaded
Chunk 163 loaded
Chunk 164 loaded
Chunk 165 loaded
Chunk 166 loaded
Chunk 167 loaded
Chunk 168 loaded
Chunk 169 loaded
Chunk 170 loaded
Chunk 171 loaded
Chunk 172 loaded
Chunk 173 loaded
Chunk 174 loaded
Chunk 175 loaded
Chunk 176 loaded
Chunk 177 loaded
Chunk 178 loaded
Chunk 179 loaded
Chunk 180 loaded
Chunk 181 loaded
Chunk 182 loaded
Chunk 183 loaded
Chunk 184 loaded
Chunk 185 loaded
Chunk 186 loaded
Chunk 187 loaded
Chunk 188 loaded
Chunk 189 loaded
Chunk 190 loaded
Chunk 191 loaded
Chunk 192 loaded
Chunk 193 loaded
Chunk 194 loaded
Chunk 195 loaded
Chunk 196 loaded
Chunk 197 loaded
Chunk 198 loaded
Chunk 199 loaded
Chunk 200 loaded
Ratings dataset loaded

In [16]:
sample_ratings = ratings.sample(frac=0.1, random_state=7)

print(sample_ratings.info())
print(sample_ratings.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 2000026 entries, 4913857 to 16845772
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     object
 1   movieId    object
 2   rating     float64
 3   timestamp  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 76.3+ MB
None
             rating                      timestamp
count  2.000026e+06                        2000026
mean   3.527050e+00  2004-11-21 09:03:04.304793088
min    5.000000e-01            1995-01-09 11:46:49
25%    3.000000e+00     2000-08-22 02:23:52.250000
50%    4.000000e+00            2004-12-22 07:43:22
75%    4.000000e+00     2008-11-03 15:18:59.500000
max    5.000000e+00            2015-03-31 06:00:28
std    1.051778e+00                            NaN

In [17]:
print(ratings.info())
print(ratings.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     object
 1   movieId    object
 2   rating     float64
 3   timestamp  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 610.4+ MB
None
             rating                      timestamp
count  2.000026e+07                       20000263
mean   3.525529e+00  2004-11-20 02:32:01.677113984
min    5.000000e-01            1995-01-09 11:46:44
25%    3.000000e+00            2000-08-20 18:55:45
50%    3.500000e+00            2004-12-20 15:18:06
75%    4.000000e+00     2008-11-02 16:11:57.500000
max    5.000000e+00            2015-03-31 06:40:02
std    1.051989e+00                            NaN

In [ ]:
# Create a histogram for rating
sns.histplot(data=ratings, x='rating', bins=10)
plt.show()